<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium accusamus, delectus, minima, velit enim illo repellendus molestiae quam ratione quos incidunt nobis et non sed laboriosam mollitia voluptatum deleniti. Ea?</p>
<%- include("footer") -%>